<!-- find-order.ejs -->

<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<!-- Banner section starts -->
<section class="home" id="category-banner">
    <!-- overlay text on backgroun -->
    <div class="overlay-text">
        <h1>Can't <span>find</span></h1>
        <h1>your <span>orders</span>?</h1>
        <!-- search bar (future development) -->
        <div class="search-bar-container">
            <form action="/find-order" method="post" class="search-bar">
                <input type="email" placeholder="Enter your email" class="form-control" id="inputEmail" name="email" required>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</section>
<!-- Banner section ends -->

<div class="container">
  
  <main>
    <div class="py-5 text-center">
        <% if (orderItems && orderItems.length > 0) { %>
          <h2 class="mt-4">Order Details for <%= email %></h2>

          <% let currentOrderId = null; %>
          <% let totalAmount = 0; %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <% orderItems.forEach(function (item) { %>
                <% if (item.order_id !== currentOrderId) { %>
                  <!-- Display totalAmount for the previous order_id -->
                  <% if (currentOrderId !== null) { %>
                    <tr>
                      <td colspan="3" class="text-end"><strong>Total Cost for Order ID-<%= currentOrderId %>:</strong></td>
                      <td><strong>$<%= totalAmount.toFixed(2) %></strong></td>
                    </tr>
                  <% } %>
                  <!-- Reset totalAmount for the new order_id -->
                  <% totalAmount = 0; %>
                  <!-- Update currentOrderId for comparison in the next iteration -->
                  <% currentOrderId = item.order_id; %>
                <% } %>

                <!-- Display product information for each order_item -->
                <tr>
                  <td><%= item.order_id %></td>
                  <td><%= item.product_name %></td>
                  <td><%= item.quantity %></td>
                  <td>$<%= item.amount %></td>
                </tr>

                <!-- Update totalAmount for the order_id -->
                <% totalAmount += parseFloat(item.amount); %>
              <% }); %>

              <!-- Display totalAmount for the last order_id -->
              <tr>
                <td colspan="3" class="text-end"><strong>Total Cost for Order ID-<%= currentOrderId %>:</strong></td>
                <td> <strong>$<%= totalAmount.toFixed(2) %></strong></td>
              </tr>
            </tbody>
          </table>
        <% } else if (orderItems && orderItems.length === 0) { %>
          <p>No orders found for <%= email %></p>
        <% } %>
      </div>
    </div>
  </main>
</div>

<%- include ('partials/footer') %>
